<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <title>Angular Map</title>
    
    <!-- Angular.js Libraries -->
    <script src="bower_components/angular/angular.min.js"></script>
    <!-- OL2 -->
    <script src="bower_components/ol2-bower/OpenLayers.js"></script>
    <!-- angular map -->
    <script src="angular-map.js"></script>

</head>

<body ng-app="MyMapApp" ng-cloak>
    
    

    <div style="width: 100%; height: 100%;" ng-controller="appController">
        <div style="width: 500px; height: 300px; margin: 0px auto;"
            map-point-chooser
            point-model="choosedCoordinates"
            initial-zoom="14"
            initial-center="44.7807474,41.7138468"
            base-layer-source="http://mapstiles.tbilisi.gov.ge/tbilisimap-tileserver/tilesproxy?x=${x}&y=${y}&z=${z}&l=msda-satellite">
        </div>
        {{choosedCoordinates}}

        <br/>
        <br/>
        <div style="width: 500px; height: 300px; margin: 0px auto;"
            map-point-chooser
            pin-location="POINT(44.78984545297821 41.72320043691731)"
            base-layer-source="http://mapstiles.tbilisi.gov.ge/tbilisimap-tileserver/tilesproxy?x=${x}&y=${y}&z=${z}&l=msda-satellite">
        </div>
    </div>



    <!-- Application bootstrap  -->
    <script type="text/javascript">
        var myMapApp = angular.module('MyMapApp', ['angularMap']);

        angular.module('MyMapApp').controller('appController', ['$scope', function($scope){
            $scope.choosedCoordinates = '';
        }]);
    </script>
</body>

</html>
